.lin{
    color: tomato;
    font-size: 6rem;
    
    
}
.linn{
    margin: 20%;
}

.grid{
    display: grid;
    /* grid-template-columns: 30% 45% 25%; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    /* overflow: hidden; */
}

video{
    width: 55rem;
}

.herote{
    text-align: center;
}

.herobut{
    padding: 10px 58px;
    margin-top: 20px;
    background-color:var(--col-red);
    border-radius: 50px;
    border: 2px solid var(--col-red);
    text-decoration: none;
    color: white;
    font-family: var(--font-jose);

    font-weight: 500;
    display: inline-block;
    font-size: 1.3rem;
    letter-spacing: 0.06rem;
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.herobut:hover,
.herobut:active {
    background-color: transparent;
    color: var(--col-red);
}

.herohead{
    color: black;
    font-size: 9rem;
    
    line-height: 10rem;
    margin-bottom: -1rem;
   
}

.heroimg{
    width:100%;
}

.v1{
    margin-top: -1rem;
    z-index: -1;
}


.v2{
    margin-left: -14rem;
}
.im2{
    margin-top: 30rem;
}

@media only screen and (max-width: 600px) {

    .herohead {
        color: black;
        font-size: 5rem;
        line-height: 6rem;
        margin-bottom: 0%;
    }

    .subh{
        font-size: 1.8rem;
    line-height: 2rem;
    }
    video {
        width: 28rem;
    }

}